@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap');    

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #057440;
}


h1, h4, h5 {
    text-align: center;
    color: white; 
    font-weight: 600; 
}

h2 {
    text-align: center;
    color: #37F29B; 
    font-weight: 600; 
}

footer {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    background-color: #EFFDFD;
    border-top: 1px solid #453D3D;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    padding: 9px 10%;
}

h4, h2, small, a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.carousel {
    position: relative;
    width: 80%;
    margin: 0 auto; 
    padding-left: 150px;
    overflow: hidden;
}

.carousel h2 {
    font-size: 45px;
    line-height: 38px;
    padding-bottom: 50px;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.carrusel-list {
    position: relative;
    display: flex; 
    overflow-x: auto; 
    padding: 10px 0;
    margin: 0 auto; 
    max-width: 90vw;
    overflow: hidden; 
}

.carrusel-track {
    position: relative;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.carrusel {
    position: relative;
    width: 210px;
    padding: 0 18px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 0 10px; 
}

.carrusel h4 {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #ffffff;
    padding: 15px;
    text-align: center; 
}

.carrusel h4 small {
    font-size: 15px;
    display: block;
}

.carrusel a img {
    object-fit: cover;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}


/* media query */
@media(min-width:768px) {
    .carrusel {
        width: 275px;
    }

    .carrusel a img {
        width: 250px;
    }
}

.carrusel-arrow {
    border-radius: 30px;
    background-color: #ffffff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
    top: 50%; 
    transform: translateY(-50%); 
}

.carrusel-prev {
    left: 5%; 
}

.carrusel-next {
    right: 5%; 
}

.carrusel-arrow:focus {
    outline: 0;
}

.carrusel-arrow svg {
    width: 12px;
    height: 100%;
    color: rgb(0, 0, 0, 0.7);
}


.carrusel-btn {
    background-color: #ffffff; 
    color: #000000; 
    border: none;
    border-radius: 25px; 
    padding: 10px 20px; 
    margin-top: 10px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-weight: 600; 
    font-family: 'Kanit', sans-serif; 
}

.carrusel-btn:hover {
    background-color: #37F29B; 
    color: #ffffff; 
}

.carrusel {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
